
  <h4>Mes favoris</h4>
  <div class="fav">

    <% @bookmarks.each do |bookmark| %>
      <div class="fav-item">
        <div class="fav-item-title">
          <%= link_to bookmark.title, bookmark.url %>
        </div>
        <div class="fav-item-url">
          <%= bookmark.url %>
        </div>
        <div class="fav-item-actions">
          <%= link_to 'Supprimer', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
</div>

.
