 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

h1{
  background-color: red;
}

a{
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-style: oblique;
}
